.bar-horizontal-graph{
    background: var(--bg-color);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 6px var(--shadow-color);
    width: 100%;

    h3 {
        text-align: center;
    }

    .warning{
        background: var(--bg-secondary-color);
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem 0rem;
        text-align: center;
        a{
            font-weight: bold;
            color: var(--primary-color);
            text-decoration: none;

            &:hover{
                text-decoration: underline;
                transition: 0.3s;
            }
        }
    }
}