.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background: var(--bg-color);
    border-radius: 1rem;
    border: none;
    box-shadow: 1px 1px 6px var(--shadow-color);
    text-decoration: none;
    color: var(--contrast-color);
    font: var(--font);
    font-size: 0.9rem;
    white-space: nowrap;
    max-width: fit-content;
    min-width: auto;

    svg{
        font-size: 1.1rem;
        vertical-align: bottom;
    }

    .loader{
        margin-left: 120%;
        margin-bottom: 0.75rem;
    }

    &:hover {
        box-shadow: 0px 0px 10px var(--secondary-color);
        transition: 0.3s;
    }

    &:disabled{
        background-color: var(--shadow-color);
        color: var(--bg-color);
        box-shadow: none;
        opacity: 0.5;
    }
}

.btn-primary{
    @extend .btn;
    background: var(--primary-color);
    color: var(--bg-color);
    &:hover {
        box-shadow: 0px 0px 10px var(--primary-color);
        transition: 0.3s;
    }
}

.btn-secondary{
    @extend .btn;
    background: var(--secondary-color);
    color: var(--bg-color);
    &:hover {
        box-shadow: 0px 0px 10px var(--secondary-color);
        transition: 0.3s;
    }
}

.btn-terciary{
    @extend .btn;
    background: var(--terciary-color);
    color: var(--bg-color);
    &:hover {
        box-shadow: 0px 0px 10px var(--terciary-color);
        transition: 0.3s;
    }
}

.btn-error{
    @extend .btn;
    background: var(--error-color);
    color: var(--bg-color);
    &:hover {
        box-shadow: 0px 0px 10px var(--error-color);
        transition: 0.3s;
    }
}

.btn-dark{
    @extend .btn;
    background: var(--contrast-color);
    color: var(--bg-color);
    &:hover {
        box-shadow: 0px 0px 10px var(--contrast-color);
        transition: 0.3s;
    }
}

.btn-outline{
    @extend .btn;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: none;
    background: none;

    &:hover{
        color: var(--bg-color);
        background: var(--primary-color);
        border: 1px solid var(--primary-color);
        box-shadow: none;
    }
}

.btn-outline-secondary{
    @extend .btn;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: none;
    background: none;

    &:hover{
        color: var(--bg-color);
        background: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        box-shadow: none;
    }
}

.btn-outline-terciary{
    @extend .btn;
    color: var(--terciary-color);
    border: 1px solid var(--terciary-color);
    box-shadow: none;
    background: none;

    &:hover{
        color: var(--bg-color);
        background: var(--terciary-color);
        border: 1px solid var(--terciary-color);
        box-shadow: none;
    }
}