.btn {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    background: var(--bg-color);
    border-radius: 1rem;
    border: none;
    box-shadow: 1px 1px 6px var(--shadow-color);
    text-decoration: none;
    color: var(--contrast-color);
    font: var(--font);
    font-size: 0.9rem;
    white-space: nowrap;
    max-width: fit-content;
    min-width: auto;

    svg{
        font-size: 1.1rem;
        vertical-align: bottom;
    }

    &:hover {
        box-shadow: 0px 0px 10px var(--secondary-color);
        transition: 0.3s;
    }
}