.comparative-chart{
    display: flex;
    flex-wrap: wrap;
    background: var(--bg-color);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 6px var(--shadow-color);
    gap: 0.75rem;

    h3{
        width: 100%;
        text-align: center;
    }

    .warning{
        text-align: center;
        width: 100%;
        a{
            font-weight: bold;
            color: var(--primary-color);
            text-decoration: none;

            &:hover{
                text-decoration: underline;
                transition: 0.3s;
            }
        }
    }

    .warning,
    .comparative-chart-item {
        background: var(--bg-secondary-color);
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem 0rem;
    }

    .comparative-chart-item {
        flex-grow: 1;
        flex-shrink: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;

        svg{
            font-size: 3rem;
            background: var(--bg-color);
            padding: 0.5rem;
            border-radius: 1rem;
        }

        &:hover{
            scale: 1.01;
            box-shadow: 2px 2px 6px var(--shadow-color);
            transition: 0.3s;
        }
    }
}