.config-corner-button {
    cursor: pointer;
    z-index: 99999;
    font-size: 1.5rem;
    background: var(--primary-color);
    color: var(--bg-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transition: 0.3s;
        background: var(--secondary-color);
        box-shadow: 0px 0px 10px var(--secondary-color);
    }
}

#donate-button {
    position: absolute;
    right: 0;
    padding: 0.5rem 0.5rem 0.75rem 1rem;
    border-radius: 0rem 0rem 0rem 2rem;
    box-shadow: 2px 3px 4px var(--shadow-color);
}

.donate-modal-content {
    text-align: center;

    h3,p {
        margin-bottom: 0.5rem;
    }

    .pix-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        textarea {
            width: 100% !important;
        }
    }
}