#generate-page-by-ai {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
        color: var(--secondary-color);
    }

    p,
    textarea {
        width: 100%;
        margin: 0;
    }

    .error-text {
        color: var(--error-color);
        font-weight: bold;
    }
}

.generate-ai-icon {
    cursor: pointer;
    z-index: 99999;
    position: fixed;
    bottom: 0;
    padding: 0.75rem 1rem 0.5rem 0.75rem;
    font-size: 1.5rem;
    background: var(--primary-color);
    color: var(--bg-color);
    border-radius: 0rem 2rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 4px var(--shadow-color);

    &:hover {
        transition: 0.3s;
        background: var(--secondary-color);
        box-shadow: 0px 0px 10px var(--secondary-color);
    }
}