header {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);

    .user-menu-icon{
        cursor: pointer;
        font-size: 2.25rem;
        color: #A9A9A9;
        border: 3px solid var(--bg-color);
        padding: 2px;
        border-radius: 100%;
        &:hover{
            border: 2px solid var(--secondary-color);
            color: var(--secondary-color);
            transition: 0.3s;
        }
    }

    nav {
        ul {
            position: absolute;
            right: 1rem;
            z-index: 999999;
            background-color: var(--bg-color);
            box-shadow: 2px 3px 4px var(--shadow-color);
            border-radius: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-size: 0.9rem;
            list-style: none;

            a{
                color: var(--contrast-color);
                text-decoration: none;
            }
            .btn {
                padding: 0 !important;
                margin: 0 !important;
                background: none !important;
                box-shadow: none !important;
                border: none !important;
            }

            .btn:hover, a:hover,
            li:hover {
                color: var(--secondary-color);
                text-decoration: underline;
                transition: 0.3s;
                box-shadow: none !important;
            }
        }
    }
}