@use './buttons.scss';

input, textarea {
    border: 1px solid var(--shadow-color);
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.75rem;
    background: none;
    &:focus {
        outline: none;
        border: 1px solid var(--secondary-color);
    }
}

textarea{
    min-height: 4rem;
    resize: none;
}

.img-input{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    input{
        display: none;
    }
    label{
        @extend .btn;
        font-size: 0.8rem;
    }
    span{
        padding: 8px;
        font-size: 0.8rem;
        font-weight: bold;
    }
}

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-track {
    margin: 10px;
    background: var(--bg-secondary-color);
    border-radius: 20px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--shadow-color);
    border-radius: 20px;
    border: 1px solid var(--bg-secondary-color);
}