input {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.75rem;
    border: 1px solid var(--shadow-color);
    background: none;

    &:focus {
        outline: none;
        border: 1px solid var(--secondary-color);
    }
}