.line-graph {
    background: var(--bg-color);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 6px var(--shadow-color);

    .line-graph-title {
        margin-bottom: 1rem;
        text-align: center;
    }

    .custom-legend {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        .custom-legend-item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}