.line-graph {
    background: var(--bg-color);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 6px var(--shadow-color);

    .line-graph-title {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}