.lp-session {
    min-height: 90vh; // fallback for dvh
    min-height: 90dvh;
    display: flex;
    align-items: center;
}

.secondary-bg {
    background: var(--bg-secondary-color);
}

.col-half {
    width: calc(50% - 1.5rem);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    h1,
    h2,
    h3,
    p {
        margin-bottom: 1.5rem;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
    }

    .btn {
        margin-right: 1rem;
    }

    div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .btn {
            margin-bottom: 0.75rem;
        }
    }
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}