.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100vw;
    height: 100vh; // fallback for dvh
    height: 100dvh;
    background-color: var(--shadow-color);
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    z-index: 999998;
    .modal-container{
        z-index: 999999;
        max-width: 450px;
        background-color: var(--bg-color);
        box-shadow: 2px 3px 4px var(--shadow-color);
        border-radius: 1rem;
        padding: 1.5rem;
        .modal-actions{
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            margin-top: 2rem;
        }
    }
}