.snackbar {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  border-radius: 2.5rem;
  box-shadow: 0 2px 8px var(--shadow-color);
  z-index: 1000;
  animation: slideIn 0.3s ease-out;
  max-width: 400px;
  width: auto;
  color: var(--contrast-color);
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--primary-color);

  .snackbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .snackbar-message {
    font-family: var(--font);
    font-size: 0.875rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} 