.start-create-user-wrapper {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 10vh;
    width: 100vw;
    z-index: 99999;
    pointer-events: none;

    .start-create-user-content {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        gap: 1rem;

        .start-create-user-input {
            pointer-events: auto;
            display: flex;
            align-items: center;
            flex-direction: row !important;
            flex-wrap: nowrap;
            box-shadow: 1px 1px 6px var(--shadow-color);
            border-radius: 2rem;
            padding: 1rem 1.5rem;
            background: var(--bg-color);
            width: 16rem;

            span,
            input {
                font-size: 0.9rem !important;
            }

            span {
                font-weight: bolder;
            }

            input {
                padding: 0 !important;
                margin: 0 !important;
                border: none !important;
                border-radius: 0 !important;
                max-width: 7rem;
            }
        }

        button {
            font-size: 1rem;
            padding: 0.75rem 1.5rem;
            border-radius: 3rem;
            pointer-events: auto;
        }
    }
}