.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    z-index: 10;
    opacity: 0.9;
    transition: opacity 0.2s ease;

    &::after {
        position: absolute;
        border-style: solid;
    }
}

.tooltip-top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 6px;

    &::after {
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px 5px 0 5px;
        border-color: #333 transparent transparent transparent;
    }
}

.tooltip-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 6px;

    &::after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #333 transparent;
    }
}

.tooltip-left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 6px;

    &::after {
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #333;
    }
}

.tooltip-right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 6px;

    &::after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px 5px 5px 0;
        border-color: transparent #333 transparent transparent;
    }
}