.user-link-option-config-wrapper {
    display: flex;
    flex-direction: row-reverse;

    .change-order-arrows {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;

        svg {
            cursor: pointer;
            color: var(--shadow-color);

            &:hover {
                color: var(--secondary-color);
                transition: 0.3s;
            }
        }
    }

    .user-link-option-config-box {
        flex-grow: 1;
        padding: 1.25rem;
        margin: 1rem 0rem;
        border-radius: 2rem;
        background-color: var(--bg-secondary-color);

        .delete-box-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            margin: 0.5rem 0rem;
            max-width: 100px;
            font-size: 0.7rem;
            color: var(--shadow-color);
            font-weight: bold;

            svg {
                font-size: 1rem;
            }

            &:hover {
                color: var(--error-color);
                transition: 0.3s;
            }
        }

        &:hover {
            background: var(--bg-color);
            box-shadow: 1px 1px 6px var(--shadow-color);
            transition: 0.3s;
        }

        label,
        input,
        select {
            font-size: 0.8rem;
        }

        input,
        select {
            padding: 0.25rem 1rem;
        }
    }
}