#user-links-page-content {
    .icons-grid {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .icons-grid-item {
            max-height: 8rem;
            max-width: 8rem;
            color: red !important;
        }
    }
}