#user-links-page-content {
    .powered-by {
        cursor: pointer;
        font-family: var(--font);
        display: block;
        text-align: center;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 1.5rem 1.5rem 0rem 0rem;
        color: var(--contrast-color);
        text-decoration: none;
        padding: 1rem;
        box-shadow: 0px 0px 10px var(--shadow-color);

        &:hover {
            background: var(--bg-color);
            transition: 0.3s;
        }
    }
}