#user-links-page-content {
    .powered-by {
        margin-bottom: 0;
        margin-top: auto;
        cursor: pointer;
        font-family: var(--font);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        text-align: center;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 1.5rem 1.5rem 0rem 0rem;
        color: var(--contrast-color);
        text-decoration: none;
        padding: 1rem;
        box-shadow: 0px 0px 10px var(--shadow-color);

        &:hover {
            background: var(--bg-color);
            transition: 0.3s;
        }

        svg {
            font-size: 1.2rem;
        }
    }
}