#config-page{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
    #user-config-form{
        padding: 1.5rem;
        box-shadow: 2px 2px 8px var(--shadow-color);
        min-height: 100%;
        max-width: 500px;
        p{
            margin: 1rem 0rem;
        }
        input, textarea{
            width: 100%;
        }
        input, .btn{
            margin: 0.5rem 0.5rem 0.5rem 0rem;
        }
        .img-input{
            margin-bottom: 1.25rem;
        }
        #save-div{
            display: flex;
            align-items: center;
            p{
                margin: 0rem;
            }
            .btn{
                margin: 0rem 1rem;
            }
        }
    }
    #preview{
        flex-grow: 1;
        position: sticky;
        top: 0;
        height: 100vh;
    }
}

.custom-hr-primary, .custom-hr-secondary, .custom-hr-terciary{
    margin: 1.5rem 0rem;
}

.custom-hr-primary{
    border: 1px solid var(--primary-color);
}

.custom-hr-secondary{
    border: 1px solid var(--secondary-color);
}

.custom-hr-terciary{
    border: 1px solid var(--terciary-color);
}