#config-page {
    display: flex;
    flex-direction: row;
    min-height: 100vh; // fallback for dvh
    min-height: 100dvh;
    position: relative;

    #user-config-form {

        min-height: 100%;
        padding: 1.5rem;
        padding-bottom: 3rem;
        box-shadow: 2px 2px 8px var(--shadow-color);
        max-width: 488px;
        z-index: 10;
        overflow-y: auto;

        h4 {
            color: var(--shadow-color);
            margin: 0.75rem 0rem;
        }

        p {
            margin: 0.5rem 0rem;
            font-size: 0.9rem;
        }

        input,
        textarea {
            width: 100%;
        }

        input,
        .toggle,
        .btn {
            margin: 0.5rem 0.5rem 0.5rem 0rem;
        }

        .img-input {
            margin-bottom: 1.25rem;
        }

        #save-div {
            display: flex;
            align-items: center;

            p {
                margin: 0rem;
            }

            .btn {
                margin: 0rem 1rem;
            }
        }
    }

    #preview {
        flex-grow: 1;
        position: sticky;
        top: 0;
        height: 100%;
    }
}

.custom-hr-primary,
.custom-hr-secondary,
.custom-hr-terciary {
    margin: 1.5rem 0rem;
}

.custom-hr-primary {
    border: 1px solid var(--primary-color);
}

.custom-hr-secondary {
    border: 1px solid var(--secondary-color);
}

.custom-hr-terciary {
    border: 1px solid var(--terciary-color);
}