#explore-page {
    h2, p {
        margin: 0.5rem 0rem;
        text-align: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem 0;
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 665px) {
            grid-template-columns: 1fr;
        }

        .create-your-page-cta {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            text-align: center;

            .btn:hover{
                scale: 1.1;
                transition: 0.3s;
            }
        }
    }

    .user-preview-container {
        width: 100%;
        padding: 1rem 0rem;
        cursor: pointer;
        user-select: none;
        text-align: center;
        background-color: var(--bg-secondary-color);
        border-radius: 1.5rem;

        h3{
            font-size: 1rem;
            font-weight: 600;
        }

        .user-page-preview {
            pointer-events: none;
            width: 100%;
            aspect-ratio: 3/2;
            border-radius: 1.5rem;
            overflow: hidden;
            position: relative;
            margin-bottom: 0.5rem;

            .iframe-container {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1024px;
                height: 768px;
                transform: translate(-50%, -50%) scale(0.35);

                @media (max-width: 1200px) {
                    transform: translate(-50%, -50%) scale(0.3);
                }

                @media (max-width: 768px) {
                    transform: translate(-50%, -50%) scale(0.25);
                }

                iframe {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ccc;
                    border-radius: 2rem;
                }
            }
        }

        &:hover {
            box-shadow: 0px 2px 8px var(--shadow-color);
            scale: 1.05;
            transition: 0.3s;
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        text-align: center;
    }
}