#metrics-page{
    min-height: 100vh;
    background-color: var(--bg-secondary-color);
    h2{
        text-align: center;
    }
    .stats-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 0rem;
        gap: 1rem;
    }
}