#metrics-page {
    min-height: 100vh;
    // background-color: var(--bg-secondary-color);

    h2 {
        text-align: center;
    }

    .stats-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .stats-list, .line-graph, .charts-row, .bar-horizontal-graph, .comparative-chart {
        margin: 2rem 0rem;
    }

    .charts-row {
        max-width: 100%;
        display: flex;
        align-items: stretch;
        gap: 2rem;

        >* {
            width: 50%;
        }
    }
}