@use './utils/variables.scss' ;
@use './utils/animations.scss';
@use './utils/layout.scss';
@use './utils/responsivity.scss';
@use './pages/configPage.scss';
@use './pages/metricsPage.scss';
@use './pages/notFoundUser.scss';
@use './pages/explorePage.scss';
@use './components/header.scss';
@use './components/modal.scss';
@use './components/lpSession.scss';
@use './components/startCreateUser.scss';
@use './components/buttons.scss';
@use './components/inputs.scss';
@use './components/DonateButton.scss';
@use './components/subscribeContent.scss';
@use './components/userLinkOptionConfigBox.scss';
@use './components/generatePageByAI.scss';
@use './components/toggle.scss';
@use './components/loader.scss';
@use './components/tooltip.scss';
@use './components/snackbar.scss';
@use './components/dashboardStat.scss';
@use './components/lineGraph.scss';
@use './components/listChart.scss';
@use './components/barHorizontalGraph.scss';
@use './components/comparativeChart.scss';
@use './components/footer.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');