* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    color: var(--contrast-color);
    font-family: var(--font);
    background: var(--bg-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 2rem;
}

.hidden {
    display: none;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-out forwards;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
    border: 1px solid var(--scrollbar-background);
}

::selection {
    background-color: var(--select-background);
    color: var(--select-color);
}