@media(max-width: 530px) {
    .row {
        flex-direction: column-reverse !important;

        .col-half {
            width: 100%;

            div {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 769px) {
    #config-page {
        flex-direction: column !important;

        #preview {
            flex-grow: 0;
        }
    }
}