@media (max-width: 769px) {
    .row {
        flex-direction: column;

        .col-half {
            width: 100%;

            div {
                flex-direction: column;
            }
        }
    }
    #config-page{
        flex-direction: column !important;
        #user-config-form{
            min-width: 100%;
        }
    }
}