@media(max-width: 530px) {
    .row {
        flex-direction: column-reverse !important;

        .col-half {
            width: 100%;

            div {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 769px) {
    #config-page {
        flex-direction: column !important;

        #user-config-form {
            min-width: 100%;
            height: 100% !important;
            overflow-y: hidden !important;
        }

        #preview {
            flex-grow: 0;

            #user-links-page-content {
                height: 100% !important;
                overflow-y: hidden !important;
            }
        }
    }
}