@media(max-width: 530px) {
    .row {
        flex-direction: column !important;

        .col-half {
            width: 100%;

            div {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 769px) {

    #user-config-form{
        width: 90% !important;
        .user-config-form-content{
            height: 40vh !important;
        }
    }

    .start-create-user-wrapper{
        bottom: 5vh !important;
    }

    #metrics-page {
        .stats-list {
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .dashboard-stat {
                width: 100%;
            }
        }

        .charts-row {
            flex-wrap: wrap;

            >* {
                width: 100% !important;
            }
        }
    }
}