:root{
    --font: sans-serif;
    --primary-color: #ef529c;; 
    --secondary-color: #ef4523;
    --terciary-color: #8d2c91;
    --bg-color: #fff;
    --bg-secondary-color: #f5f5f7;
    --contrast-color: #111211;
    --success-color: #2ecc71; 
    --error-color: #e63946; 
    --shadow-color: rgba(0,0,0, 0.4);
    --select-color: #fff; 
    --select-background: #e63946; 
    --scrollbar-color: #ef529c;
    --scrollbar-background: #f5f5f5;
}