:root{
    --font: "Montserrat", sans-serif;
    --primary-color: #ef529c;; 
    --secondary-color: #ef4523;
    --terciary-color: #8d2c91;
    // --primary-hover: #f062a8;
    // --secondary-hover: #f25739;
    --bg-color: #fff;
    --bg-secondary-color: #f5f5f7;
    --contrast-color: #111211;
    --success-color: #2a9d8f;
    --error-color: #e63946; 
    --shadow-color: rgba(0,0,0, 0.4);
}