#user-links-page-content {
    min-height: 100vh; // fallback for dvh
    min-height: 100dvh;
    color: var(--user-contrast-color);
    font-family: var(--user-font);
    background: linear-gradient(to bottom, var(--user-bg-color), var(--user-bg-secondary-color));
    display: flex;

    canvas {
        touch-action: none;
    }

    .user-links-page-wave {
        position: relative;
        min-width: 10vw;
        min-height: 100vh;
        min-height: 100dvh;
        .wave {
            background: var(--user-wave-color);
            position: absolute;
            border-radius: 0 100% 100% 0;
            height: 100%;
        }
        .wave-1{
            width: 60%;
            z-index: 999;
            animation: wave1 3s linear infinite;
        }
        .wave-2{
            opacity: 0.75;
            animation: wave2 3s linear infinite;
        }
    }

    .user-links-page-container {
        position: relative;
        padding: 1rem 1rem 0rem 1rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        min-height: 100vh; // fallback for dvh
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}