#user-links-page-content {
    height: 100vh;
    color: var(--user-contrast-color);
    font-family: var(--user-font);
    background: linear-gradient(to bottom, var(--user-bg-color), var(--user-bg-secondary-color));
    overflow-y: scroll;

    canvas {
        touch-action: none;
    }

    .user-links-page-container {
        padding: 1rem 1rem 0rem 1rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}

#user-links-page-content::-webkit-scrollbar {
    width: 12px;
}

#user-links-page-content::-webkit-scrollbar-track {
    background: var(--user-bg-secondary-color);
}

#user-links-page-content::-webkit-scrollbar-thumb {
    background-color: var(--user-primary-color);
    border-radius: 20px;
    border: 1px solid var(--user-bg-secondary-color);
}