#user-links-page-content {
    min-height: 100vh; // fallback for dvh
    min-height: 100dvh;
    color: var(--user-contrast-color);
    font-family: var(--user-font);
    background: linear-gradient(to bottom, var(--user-bg-color), var(--user-bg-secondary-color));

    canvas {
        touch-action: none;
    }

    .user-links-page-container {
        position: relative;
        padding: 1rem 1rem 0rem 1rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        min-height: 100vh; // fallback for dvh
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}