:root{
    --user-font: sans-serif;
    --user-primary-color: #fff;; 
    --user-secondary-color: #fff;
    --user-terciary-color: #fff;
    --user-bg-color: #fff;
    --user-bg-secondary-color: #fff;
    --user-contrast-color: #000;
    --user-shadow-color: rgba(0,0,0, 0.4);
    --user-button-border-radius: 0rem;
    --user-icons-background-color: #fff;
}